/*
0 - 600PX:     Phone
600 - 900px:   Tablet portrait
900 - 1200px:  Tablet Landscape
**1200 - 1800px: Is where our normal styles applyes (Desktop). 
1800px +: Big Desktop  (From here we need to use "min-width, because our normal creatd size is smaller size than big-desktop)

$breakpoint(a parameter here) argument choices:
- phone
- Tab-port
- Tab-land
- Big-desktop

ORDER: Base + typography > general layout + grid > specific pagelay out > componants
*/
/* Here '@content' directive allows us to pass a block of code into mixin
Here '@if' is also a directive */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");
:root {
  --color-grey-light-1: #fafafa;
  --color-grey-light-2: #f0eeee;
  --color-grey-light-3: #ccc;
  --color-grey-light-4: #aaa;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --dark-blue: #1864ab;
  --color-primary-light: #339af0;
  --color-primary-dark: #1c7ed6;
  --color-secondary: #f3bf91;
  --color-secondary-light: #fd7e14;
  --color-secondary-dark: #e8590c;
  --color-optional-1: #e67e22;
  --color-optional-2: #cf711f;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 46.88em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40.63%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* This is to let user enjoy our personal customization. If user select some 
text to copy or anything, then they will see this effect/color */
::selection {
  background: var(--color-secondary);
  color: #fff;
}

@keyframes paintDrops {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    /* transform: translateY(0); */
    opacity: 0.75;
  }
  60% {
    /* transform: translateY(0); */
    opacity: 1;
  }
  80% {
    /* transform: translateY(0); */
    opacity: 1;
  }
  100% {
    transform: translateY(95vh);
    opacity: 0;
  }
}
.heading-primary {
  text-transform: uppercase;
  color: var(--color-grey-light-1);
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 3rem;
}
@media only screen and (max-width: 28.13em) {
  .heading-primary--main {
    letter-spacing: 1.5rem;
  }
}
@media only screen and (max-width: 21.88em) {
  .heading-primary--main {
    letter-spacing: 1rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
}
@media only screen and (max-width: 28.13em) {
  .heading-primary--sub {
    letter-spacing: 1rem;
  }
}

.heading-secondary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--color-grey-dark-1);
  font-size: 4.2rem;
  margin-bottom: 8rem;
}
.heading-secondary-sub {
  font-size: 4rem;
  line-height: 1;
  font-style: italic;
}
.heading-secondary-sub--light {
  color: var(--color-grey-light-2);
}
.heading-secondary-sub--dark {
  color: var(--color-grey-light-3);
}

.subheading {
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.75rem;
  color: var(--color-secondary-dark);
}

.tertiary-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tertiary-heading--sub {
  align-items: flex-start;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.sticky {
  position: fixed;
  width: 120rem;
  background: rgba(255, 255, 255, 0.9);
  margin-top: -8rem;
  z-index: 15;
}
@media only screen and (max-width: 37.5em) {
  .sticky {
    margin-top: none;
  }
}

@media only screen and (max-width: 56.25em) {
  .nav-open .navigation__nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .nav-open .btn-mobile-nav--icon[name=close] {
    display: block;
  }
  .nav-open .btn-mobile-nav--icon[name=menu] {
    display: none;
  }
}

.container {
  width: min(100%, 120rem);
  margin: 6rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
  }
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -21.9rem;
}
.bubbles-img {
  width: 5rem;
  animation: paintDrops 7.5s linear infinite;
  z-index: 5;
}
.bubbles-img:nth-child(1) {
  animation-delay: 2s;
  width: 3rem;
}
.bubbles-img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles-img:nth-child(3) {
  animation-delay: 3s;
  width: 2.5rem;
}
.bubbles-img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles-img:nth-child(5) {
  animation-delay: 3.5s;
}
.bubbles-img:nth-child(6) {
  animation-delay: 6s;
  width: 2rem;
}
.bubbles-img:nth-child(7) {
  animation-delay: 7s;
  width: 3.5rem;
}

/* ***BUTTON*** */
.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 10rem;
  transition: all 0.3s ease;
  position: relative;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.btn:hover, .btn:focus {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after, .btn:focus::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--blue {
  background: var(--color-primary-light);
  color: #fff;
}
.btn--blue::after {
  background: var(--color-primary-dark);
}
.btn--yellow {
  background: var(--color-secondary-light);
  color: #fff;
}
.btn--yellow::after {
  background: var(--color-secondary-dark);
}
.btn--white {
  background: #fff;
  color: #333;
}
.btn--white::after {
  background: #fff;
}

.btn-mobile-nav {
  border: none;
  background: none;
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }
}
.btn-mobile-nav--icon {
  height: 4rem;
  width: 4rem;
  margin-right: 5rem;
}
.btn-mobile-nav--icon[name=close] {
  display: none;
}

.bg__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.bg__video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.language {
  align-self: flex-end;
  justify-items: flex-end;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 28.13em) {
  .language {
    align-self: center;
    justify-items: center;
  }
}
.language__logo {
  display: flex;
  gap: 1.5rem;
  margin-right: 5rem;
}
.language__logo-img {
  height: 2rem;
}

.toggler {
  position: absolute;
  top: 20%;
  right: 2%;
  z-index: 2;
  /* because we alsways want it on the top of everything(there are now two background layers); */
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  opacity: 0;
}

.hamburger {
  /* flex, becasue it will bring the emty <div> in colmun and can style just a line inside the checkbox to form 'hamburger' box */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  right: 2%;
  z-index: 1;
  /* 'z-index, because we want it to be under the'checkbox */
  width: 5.5rem;
  height: 5.5rem;
}
.hamburger_line {
  position: relative;
  /* because child's(child of "line" will be "before and after" elements
  which need to be 'position:absolute' */
  width: 100%;
  height: 0.5rem;
  background: var(--color-primary-light);
  transition: all 0.6s ease;
}
.hamburger_line:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5rem;
  top: -1.5rem;
  right: 2%;
  background: inherit;
  /* 'inherit' here means same as parent's which is #fff */
  z-index: 1;
}
.hamburger_line:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5rem;
  top: 1.5rem;
  right: 2%;
  background: inherit;
  z-index: 1;
}

/* -----Toggler-animation---- */
.toggler:checked + .hamburger > .hamburger_line {
  /*We used here styling "checked", because we used 
  CHECKBOX as a input type in html, means if the toggler is checked, then
  manipulate hamburger_line */
  transform: rotate(135deg);
}

/* ----Trun the lines into 'X----
  it targets all '3 lines' that we creatd earlier */
.toggler:checked + .hamburger > .hamburger_line:before,
.toggler:checked + .hamburger > .hamburger_line:after {
  top: 0;
  transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger > .hamburger_line {
  transform: rotate(225deg);
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 9rem;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }
}
.navigation__logo--img {
  height: 7rem;
  margin-left: 5rem;
  margin-top: 1rem;
  cursor: pointer;
}
@media only screen and (max-width: 21.88em) {
  .navigation__logo--img {
    height: 5rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
}
.navigation__nav {
  display: flex;
  align-items: center;
  gap: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .navigation__nav {
    background: var(--color-secondary-light, 0.95);
    /*IMPORTANT: If position:fixed, then whole OPENED HAMBURGER background 
    color never disappear when we clik on any element. Though overflowY moves. */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    z-index: 150;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    /* IMPORTANT: Bcos we want to animate the 'width'. width:0 means, entire container
    begins from top:0 and left/right:0 */
    visibility: hidden;
    transition: all 0.8s ease-out;
  }
}
.navigation__nav-list {
  display: flex;
  gap: 3.5rem;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .navigation__nav-list {
    gap: 2.5rem;
    flex-direction: column;
  }
}
.navigation__nav-link:link, .navigation__nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.8rem;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  /*IMPORTANT: If we create an border only for HOVER, then we must also create that
  border as TRANPARENT. Otherwise, hover will shake the element*/
}
@media only screen and (max-width: 56.25em) {
  .navigation__nav-link:link, .navigation__nav-link:visited {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    background: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-grey-light-1) 50%);
    background-size: 230%;
    transition: all 0.4s ease-in;
  }
}
.navigation__nav-link:hover, .navigation__nav-link:active {
  border-bottom: 2px solid var(--color-secondary-light);
}
@media only screen and (max-width: 56.25em) {
  .navigation__nav-link:hover, .navigation__nav-link:active {
    color: var(--color-secondary-dark);
    background-position: 100%;
  }
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(232, 89, 12, 0.7), rgba(28, 126, 214, 0.7)), url(../img/hero.webp);
  background-size: cover;
  background-position: center;
  position: relative;
}
.header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.about {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .about {
    padding: 1.5rem;
    grid-template-columns: 1fr;
  }
}
.about__img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(rgba(51, 154, 240, 0.5), rgba(253, 126, 20, 0.5)), url(../img/portfolio-background.webp);
  background-size: cover;
}
@media only screen and (max-width: 37.5em) {
  .about__img {
    background-image: none;
  }
}
.about__img--1 {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .about__img--1 {
    position: relative;
    top: 85%;
    right: -90%;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 21.88em) {
  .about__img--1 {
    position: relative;
    top: 80%;
    right: 55%;
    width: 12rem;
    height: 12rem;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 37.5em) {
  .about__content {
    margin: 7rem;
  }
}
.about__content-text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
}

.features {
  padding: 5rem 5rem 3rem 5rem;
  background-image: linear-gradient(to right bottom, rgba(51, 154, 240, 0.3), rgba(28, 126, 214, 0.3));
}

.feature {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 6rem;
  margin-bottom: 10rem;
}
@media only screen and (max-width: 68.75em) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15rem;
  }
}
@media only screen and (max-width: 46.88em) {
  .feature {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .feature {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 28.13em) {
  .feature {
    grid-template-columns: 1fr;
    padding: 0 10rem;
  }
}
.feature__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  border-radius: 3px;
  box-shadow: var(--shadow-light);
  border: 3px solid var(--color-secondary);
  transition: all 0.5s;
}
.feature__box:hover {
  transform: translateY(-1.5rem);
  /* IMPORTANT: I fwe use 'scale' [ex- transform: translateY(-1.5rem) scale(1.01)]
  with hover effect, then the text always shakes(visually not nice) */
}
.feature__icon {
  width: 7rem;
  height: 7rem;
  fill: var(--color-secondary-dark);
  padding: 1.5rem;
  border-radius: 50%;
  background: var(--color-secondary);
  margin-bottom: 1rem;
  /*These 3 line of codes or FLEX(align-items:center) could do the same
  // position: relative;
  // top: 15%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  */
}
.feature__title {
  font-size: 1.9rem;
}
.feature__text {
  font-size: 1.7rem;
  /*These 2 line of code can be useful for CARD text alinement. To make 
  'hyfanation' work, we need to specify in HTML lang="en" */
  text-align: justify;
  hyphens: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1rem;
  padding: 1rem;
}
.gallery__item--1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.gallery__item--2 {
  grid-column: 3/span 3;
  grid-row: 1/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/span 1;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/span 2;
}
.gallery__item--5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.gallery__item--6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
}
.gallery__item--7 {
  grid-row: 4/span 1;
  grid-column: 5/span 1;
}
.gallery__item--8 {
  grid-row: 3/span 2;
  grid-column: 6/span 2;
}
.gallery__item--9 {
  grid-row: 3/span 3;
  grid-column: 8/span 1;
}
.gallery__item--10 {
  grid-row: 6/span 2;
  grid-column: 1/span 1;
}
.gallery__item--11 {
  grid-row: 6/span 2;
  grid-column: 2/span 2;
}
.gallery__item--12 {
  grid-row: 6/span 2;
  grid-column: 4/span 1;
}
.gallery__item--13 {
  grid-row: 5/span 3;
  grid-column: 5/span 3;
}
.gallery__item--14 {
  grid-row: 6/span 2;
  grid-column: 8/span 1;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials {
  position: relative;
  padding: 8rem 5rem;
}

.rivew {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 0 5rem 5rem 5rem;
}
@media only screen and (max-width: 28.13em) {
  .rivew {
    grid-template-columns: 1fr;
    padding: 0 5rem 3rem 5rem;
    gap: 5rem;
  }
}
.rivew__box {
  background-color: rgba(243, 191, 145, 0.95);
  border-radius: 10px;
}
.rivew__user {
  padding-top: 1.5rem;
}
@media only screen and (max-width: 28.13em) {
  .rivew__user {
    padding: 2.5rem;
  }
}
.rivew__user--img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 5px solid rgba(243, 191, 145, 0.5);
  position: relative;
  margin: -7rem 1rem 1rem 1rem;
}
@media only screen and (max-width: 56.25em) {
  .rivew__user--img {
    margin: -6rem 1rem 1rem 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .rivew__user--img {
    margin: -5.5rem 1rem 1rem 1rem;
  }
}
.rivew__user--caption {
  padding-left: 2rem;
  font-weight: 700;
}
@media only screen and (max-width: 28.13em) {
  .rivew__user--caption {
    padding-left: 2.5rem;
  }
}
.rivew__text {
  padding: 2rem;
  font-size: 1.7rem;
}
@media only screen and (max-width: 28.13em) {
  .rivew__text {
    padding: 1rem 2.5rem 2.5rem 2.5rem;
  }
}

.cta {
  padding: 10rem;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-secondary-light));
  overflow: hidden;
}
.cta__main {
  padding: 6rem 5rem;
  background-image: linear-gradient(75deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, transparent 50%), url(../img/form-img.webp);
  background-size: cover;
  background-position: center;
  background-blend-mode: saturation;
  border-radius: 5px;
}
@media only screen and (max-width: 37.5em) {
  .cta__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.cta__text {
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 4rem;
  margin-bottom: 4rem;
  color: var(--color-secondary-light);
}
@media only screen and (max-width: 37.5em) {
  .cta__text {
    text-align: center;
  }
}
@media only screen and (max-width: 28.13em) {
  .cta__text {
    text-align: left;
  }
}
.cta__form {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
}
@media only screen and (max-width: 37.5em) {
  .cta__form {
    width: 80%;
  }
}
@media only screen and (max-width: 28.13em) {
  .cta__form {
    width: 100%;
  }
}
.cta__form *:focus {
  outline: none;
  border: 1px solid #e8590c;
}
.cta__form--control input, .cta__form--control textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  border-radius: 0.8rem;
  box-shadow: var(--shadow-light);
}
.cta__form--control input::placeholder, .cta__form--control textarea::placeholder {
  color: var(--color-grey-dark-3);
}

.footer {
  padding: 8rem;
  background-color: var(--dark-blue);
  position: relative;
}
.footer__icon {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  border: 7px solid var(--dark-blue);
  border-radius: 50%;
  fill: var(--color-grey-light-1);
  background: var(--color-secondary-dark);
  cursor: pointer;
  position: absolute;
  top: -2.8rem;
  left: 45%;
  right: 55%;
  transition: all 2s ease-in-out;
}
.footer__icon:hover {
  background: var(--color-secondary-light);
  animation: handMove 0.6s linear infinite;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2rem;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .footer__nav {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }
}
@media only screen and (max-width: 28.13em) {
  .footer__nav {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    gap: 1rem;
  }
}
@media only screen and (max-width: 21.88em) {
  .footer__nav {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.footer__nav--link:link, .footer__nav--link:visited {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1.5rem;
  color: var(--color-grey-light-1);
  text-align: center;
  transition: all 0.2s;
}
.footer__nav--link:hover, .footer__nav--link:active {
  background-color: rgba(51, 154, 240, 0.2);
  transform: translateY(-4px);
}
.footer__nav--img {
  height: 5.5rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__nav--img {
    height: 4.5rem;
  }
}
.footer__sub {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  margin-top: 6rem;
  background-color: rgba(51, 154, 240, 0.2);
  padding: 2rem;
}
@media only screen and (max-width: 21.88em) {
  .footer__sub {
    display: grid;
    grid-row: 1fr;
  }
}
.footer__sub--text {
  font-size: 1.4rem;
  color: var(--color-grey-dark-3);
}
.footer__social {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.footer__social--link:link, .footer__social--link:visited {
  display: block;
}
.footer__social--icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-secondary-light);
  transition: all 0.4s;
}
.footer__social--icon:hover, .footer__social--icon:active {
  fill: var(--color-secondary);
  transform: translateY(2px);
}

/*# sourceMappingURL=style.css.map */
