.about {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;

  // MEDIA-QUERY
  @include respond(normal-phone) {
    padding: 1.5rem;
    grid-template-columns: 1fr;
  }

  &__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // align-items: center;
    background-image: linear-gradient(rgba(#339af0, 0.5), rgba(#fd7e14, 0.5)),
      url(../img/portfolio-background.webp);
    background-size: cover;

    // MEDIA-QUERY
    @include respond(normal-phone) {
      background-image: none;
    }

    &--1 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      width: 100%; //To see that extra 15%, we must use "z-index"
      // z-index: 20;

      @include respond(normal-phone) {
        position: relative;
        top: 85%;
        right: -90%;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
      }

      @include respond(smallest-phone) {
        position: relative;
        top: 80%;
        right: 55%;
        width: 12rem;
        height: 12rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    // MEDIA-QUERY
    @include respond(normal-phone) {
      margin: 7rem;
    }

    &-text {
      font-size: 1.5rem;
      font-style: italic;
      margin-bottom: 4rem;
    }
  }
}
